<% include header %>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Stochastic Strategy</h1>

			<table id="portfolio" class="table-1">
				<tr>
					<th>Equity Ratio</th>
					<th>Number</th>
					<th>Original Capital</th>
					<th>Current MV</th>
					<th>Current Cash</th>
					<th>Yields</th>
				</tr>
				<tr>
					<td>100%</td>
					<td>6</td>
					<td>100</td>
					<td>200</td>
					<td>0</td>
					<td>100%</td>
				</tr>
			</table>

			<br />

			<table id="combine" class="table-1">
				<tr>
					<th></th>
					<th>Stock ID</th>
					<th>Corp Name</th>
					<th>Buy Date</th>
					<th>Buy Price</th>
					<th>Yields</th>
					<th>CV</th>
				</tr>
			</table>
		</div>

		<div class="col-sm-6">
			<table id="title" class="table-2">
				<tr>
					<td id="id">600000</td>
					<td id="price" rowspan="2">11.80</td>
					<td>open:</td>
					<td id="open">11.55</td>
					<td id="date" colspan="2">2011-1-1 10:30:30</td>
				</tr>
				<tr>
					<td id="name" rowspan="2">pufayinh</td>
					<td id="">high:</td>
					<td id="high">12.55</td>
					<td id="">volume:</td>
					<td id="volume">33333333</td>
				</tr>
				<tr>
					<td id="rate">10.01%</td>
					<td id="">low:</td>
					<td id="low">10.55</td>
					<td id="">amount:</td>
					<td id="amount">333333333333</td>
				</tr>
			</table>


			<!-- for ECharts -->
			<div id="echartPortfolio" style="height:400px; width: 100%"></div>
			<div id="echarts" style="height:400px; width: 100%"></div>
			
		</div>
	</div>
</div>

<!-- <script id="data" src="http://hq.sinajs.cn/list=<%= stock %>"></script> -->
<script id="data" src="http://hq.sinajs.cn/list=<%= stock[1] %>"></script>
<script>
$(document).ready(function(){
	var id = '<%= stock[1] %>';
	var sdata = '<%= stock[0] %>';
	var weight = '<%= stock[2] %>';
	id = id.split(',');
	sdata = sdata.split(',');
	weight = weight.split(',');

	var stock = [];
	for(var i=0; i<id.length; i++){
		var temp = eval('hq_str_'+id[i]);
		stock.push(temp.split(','));
	}

	var datastring = '';
	var totalCV = 0;
	for(var i=0; i<id.length; i++){
		var cv = (sdata[(i+1)*4+3]*stock[i][3]*weight[i]/sdata[(i+1)*4+2]).toFixed(2);
		totalCV += parseFloat(cv);
		datastring = datastring +
		'<tr>'+
		'<td>'+(i+1)+'</td>'+
		'<td>'+id[i].slice(2,8)+'</td>'+
		'<td>'+stock[i][0]+'</td>'+
		'<td>'+sdata[(i+1)*4+1]+'</td>'+
		'<td>'+sdata[(i+1)*4+2]+'</td>'+
		'<td>'+((cv-sdata[(i+1)*4+3])*100/cv).toFixed(2)+'%</td>'+
		'<td>'+cv+'</td>'+
		'</tr>';
	}

	$("#combine").append(datastring);

	var nodes = $('#portfolio > tbody > tr:last-child > td');
	nodes.eq(0).html((totalCV*100/(totalCV+parseFloat(sdata[3]))).toFixed(2)+"%");
	nodes.eq(1).html(weight.length);
	nodes.eq(2).html(10000);
	nodes.eq(3).html(totalCV.toFixed(2));
	nodes.eq(4).html(sdata[3]);
	nodes.eq(5).html(((totalCV+parseFloat(sdata[3])-10000)*100/10000).toFixed(2)+"%");

	nodesUp = $("#portfolio > tbody > tr:last-child");
	nodesUp.on("click", function(){
		$(this).addClass('table-1-chosen');
		nodesDown.removeClass('table-1-chosen');
		$("#echarts").hide();
		$("#echartPortfolio").show();

		$.post("/portfolio", {}, function(data,status){
			var tdate = [];
			var tdata = [];
			for(var i=0; i<data.length; i++){
				tdate.push(data[i].tradedate.slice(0,10));
				tdata.push(data[i].amount);
			}
			AreaDraw(tdate,tdata);
		});
	});
	//nodesUp.trigger("click");

	nodesDown = $("#combine > tbody > tr:first-child~tr");
	nodesDown.on("click", function(){
		nodesDown.removeClass('table-1-chosen');
		nodesUp.removeClass('table-1-chosen');
		$(this).addClass('table-1-chosen');
		$("#echartPortfolio").hide();
		$("#echarts").show();

		var index = parseInt($(this).find("td:first-child").html())-1;
		$("#id").html(id[index]);
		$("#name").html(stock[index][0]);
		$("#open").html(stock[index][1]);
		$("#high").html(stock[index][4]);
		$("#low").html(stock[index][5]);
		$("#price").html(stock[index][3]);
		$("#volume").html(stock[index][8]);
		$("#amount").html(stock[index][9]);
		$("#date").html(stock[index][30]+'&nbsp;&nbsp;'+stock[index][31]);
		$("#rate").html(((stock[index][3]-stock[index][2])/stock[index][2]*100).toFixed(2)+"%");

		priceColor(stock[index][1], stock[index][2], $("#open"));
		priceColor(stock[index][3], stock[index][2], $("#price"));
		priceColor(stock[index][3], stock[index][2], $("#rate"));
		priceColor(stock[index][4], stock[index][2], $("#high"));
		priceColor(stock[index][5], stock[index][2], $("#low"));

		$.post("/strategy", {id:id[index].slice(2,8)}, function(data,status){
			kDraw(stock[index][0], data.date, data.data);
		});
	});

	function priceColor(p, lp, ele){
		if(p>lp){
			ele.css("color", "red");
		}else if(p<lp){
			ele.css("color", "green");
		}else{
			ele.css("color", "grey");
		}
		return;
	}


});

</script>


<% include footer %>